<html>
  <head>
  </head>
  <body>
    <p>
      Hello there2!
    </p>
    <p>
      Get GitHub API code
      <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id=<%= github_client_id %>">Click here</a> to begin!</a>
    </p>
    <p>
      Get StackOverflow API code
      <a href="https://stackoverflow.com/oauth/?scope=no_expiry&redirect_uri=http://digitalents-cobalt.local:4567/so_callback&client_id=<%= so_client_id %>">Click here</a> to begin!</a>
    </p>
    <p>
      If that link doesn't work, remember to provide your own <a href="/apps/building-oauth-apps/authorizing-oauth-apps/">Client ID</a>!
    </p>
  </body>
</html>